@model IEnumerable<GestaoCliente.Core.Domain.Entities.Cliente>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de Clientes</h1>

    <!-- Exibe a mensagem de sucesso, se houver -->
    @if (ViewBag.Success != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" id="displayMensagem">@ViewBag.Success</div>
            </div>
        </div>
        <script>
            setTimeout(function() {
                $('#displayMensagem').fadeOut();
            }, 5000);
        </script>
    }

    <div class="form-group">
        <a asp-action="Cadastrar" class="btn btn-primary">Adicionar Cliente</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Email</td>
                    <td><a asp-action="Editar" asp-route-id="@cliente.Id">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
